<h1>Welcome <%= @user.username %></h1>

<p>So this is my first super-awesome email coming<br>
from my Ruby on Rails application... sweet huh?</p>

<p>Thanks for signing up</p>

<p>-<b>Management</b></p>